<%- include('../partials/header', { title: 'Home Page' }) %>
<%- include('../partials/navbar') %>

<div id="404div" class="container text-center mt-5 mb-5 fs-1">
    <h1>404 Page Not Found</h1>
    <a href="/" class="btn btn-primary">Go To Home</a>
</div>

<%- include('../partials/footer') %>